<template>
  <v-snackbar
    :multi-line="true"
    v-model="snackbar"
    :color="color"
    :timeout="3000"
    v-if="value"
    class="py-3"
  >
    <p class="title mb-0">
      {{ value }}
    </p>
    <template v-slot:action="{ attrs }">
      <v-btn
        class="title text-initial"
        color="white"
        icon
        v-bind="attrs"
        @click="closeSnackbar"
      >
        <v-icon>close</v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>
<script>
import {mapMutations} from 'vuex'
export default {
  name: "SnackbarMessage",
  props: {
    value: {
      type: String,
      required: false,
      default: ""
    },
    color: {
      type: String,
      required: false,
      default: ""
    }
  },
  data() {
    return {
      snackbar: false,
      timeoutCallback: null
    };
  },
  methods: {
    ...mapMutations({
        setMessage: 'snackbar/message',
        setColor: 'snackbar/color'
    }),
    closeSnackbar() {
      let self = this;
      self.snackbar = false;
      this.setMessage('')
      this.setColor('')
    }
  },
  watch: {
    value(value) {
      if (value) {
        this.snackbar = true;
        if (this.timeoutCallback) {
          clearTimeout(this.timeoutCallback);
        }
        this.timeoutCallback = setTimeout(this.closeSnackbar, 3000);
      }
    }
  }
};
</script>