@import './fonts.scss';
body .v-application{
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot{
    box-shadow: none;
  }
  >>>.v-input__slot{
    background: #F5F5F5 !important;
  }
  .v-btn--outlined {
		background: transparent;
	}

	.small-text {
		font-family: 'TT Commons';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #868686;
	}
	.v-btn__content {
    font-family: 'TT Commons';
	}
	.v-btn--rounded,
	.v-card:not(.v-sheet--tile):not(.v-card--shaped) {
		border-radius: 10px;
	}

	.theme--light .v-divider {
		border-color: $background;
	}
	.sub-title {
		font-family: 'TT Commons';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		color: $darkText;
		width: 100%;
	}

	.v-btn--rounded {
		@include gradient();
		font-size: 1.2rem;
    text-transform: none;
	}
}