// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary: linear-gradient(90deg, #f25f5c 0%, #e56b6f 100%);
$background: #e5e5e5;
$lightGray: #fbfbfb;
$lightText: #828282;
$darkText: #1a1a1a;
$secondary: '#b0bec5';
$accent: '#8c9eff';
$error: #b71c1c;
$apelsin: #ee6114;

@mixin gradient() {
	background: linear-gradient(90deg, #f25f5c 0%, #e56b6f 100%);
	box-shadow: 0px 9px 18px rgba(238, 97, 20, 0.3);
	border-radius: 10px;
}

@mixin buttonText {
	font-family: 'TT Commons';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 25px;
	color: $lightText;
}
@mixin box-shadow {
	background: $lightGray;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}