<template>
  <div v-if="userDetails">
    <v-row justify="center" align="center">
      <v-col md="12" cols="12">
        <v-list
          rounded
          
        >
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>Name</v-list-item-subtitle>
              <v-list-item-title>{{userDetails.payload.name}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>Student Id</v-list-item-subtitle>
              <v-list-item-title>{{userDetails.payload.studentId}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-subtitle>Department</v-list-item-subtitle>
              <v-list-item-title>{{userDetails.payload.department}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex'
export default {
  layout: 'profile',
  middleware: 'authenticated',
  computed:{
    ...mapGetters({
      userDetails: 'user/userDetails'
    })
  },
  methods:{
    ...mapActions({
      getUserInfo:'user/getUserInfo'
    })
  },
  async mounted(){
    await this.getUserInfo(JSON.parse(localStorage.getItem('user')).uid)
    console.log('details ',this.userDetails)
  }
}
</script>

<style>

</style>