<template>
  <v-app>
    <v-main style="background:#f0efeb">
      <v-container>
        <nuxt />
      </v-container>
      <snackbarMessage v-model="$store.state.snackbar.message" :color="$store.state.snackbar.color"></snackbarMessage>
    </v-main>
    <v-footer
      app
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import snackbarMessage from '@/components/snackbarMessage'
export default {
  components:{
    snackbarMessage
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
/* https://coolors.co/3d5a80-98c1d9-e0fbfc-ee6c4d-293241 */
</style>
