<template>
  <v-app>
    <nuxt/>
    <snackbarMessage v-model="$store.state.snackbar.message" :color="$store.state.snackbar.color"></snackbarMessage>
    <v-footer
      app
      color="#ffffff"
    >
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
import snackbarMessage from '@/components/snackbarMessage'
export default {
  components:{
    snackbarMessage
  },
}
</script>

<style>

</style>