<template>
  <v-app>
    <v-main style="background:#f0efeb">
        <v-container>
            <v-row>
                <v-col md="3" cols="12">
                    <v-card flat>
                      <v-card-title>
                          <v-avatar
                          class="ma-3"
                          color="grey"
                          width="100%"
                          height="200"
                          tile
                          >
                          <v-img
                              :src="`https://avatars.dicebear.com/api/initials/${user.email}.svg`"
                          ></v-img>
                          </v-avatar>
                      </v-card-title>
                      <v-card-text class="text-center">
                          <span class="title">User {{user.email}}</span>
                      </v-card-text>
                      <v-list>
                          <v-list-item-group v-model="selectedItem" mandatory color="primary">
                            <v-list-item
                                v-for="(item, i) in items"
                                :key="i"
                                :style="item.icon == 'exit_to_app' ? 'color: #F44336 !important' : ''"
                                @click="handleMenuClick(item)"
                            >
                                <v-list-item-icon>
                                <v-icon :color="item.icon == 'exit_to_app' ? 'red' : ''" v-text="item.icon"></v-icon>
                                </v-list-item-icon>
                                <v-list-item-content>
                                <v-list-item-title class="text--red" v-text="item.text"></v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                          </v-list-item-group>
                      </v-list>
                    </v-card>
                </v-col>
                <v-col>
                    <div
                      style="background:#ffffff; border-radius: 10px"
                    >
                      <v-breadcrumbs :items="crumbs">
                        <template v-slot:item="{ item }">
                          <v-breadcrumbs-item
                            :href="item.href"
                            :disabled="item.disabled"
                          >
                            {{ item.text.toUpperCase() }}
                            
                          </v-breadcrumbs-item>
                        </template>
                      </v-breadcrumbs>
                    </div>
                    <nuxt/>
                </v-col>
                </v-row>
        </v-container>
        <snackbarMessage v-model="$store.state.snackbar.message" :color="$store.state.snackbar.color"></snackbarMessage>
    </v-main>
    <v-footer
      color="#f0efeb"
      padless
    >
      <v-col
        class="text-center"
        cols="12"
      >
        <span class="subtitle">&copy; {{ new Date().getFullYear() }} — Event management platform by Sardor</span>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
import {mapGetters,mapActions} from 'vuex'
import snackbarMessage from '@/components/snackbarMessage'
export default {
  middleware: 'authenticated',
  components:{
    snackbarMessage
  },
  computed:{
    ...mapGetters({
      user: 'user/user',
    }),
    crumbs() {
      const crumbs = []
      this.$route.matched.map((item, i, { length }) => {
        console.log('item menu',item)
        const crumb = {}
        crumb.href = item.path
        crumb.text = item.name

        // is last item?
        if (i === length - 1) {
          // is param route? .../.../:id
          if (item.regex.keys.length > 0) {
            crumbs.push({
              href: item.path.replace(/\/:[^/:]*$/, ''),
              text: item.name
            })
            crumb.href = this.$route.path
            crumb.text = item.name
          }
          crumb.disabled = true
        }

        crumbs.push(crumb)
      })

      return crumbs
    }
  },
  data(){
    return {
      selectedItem: 1,
      items: [
        { text: 'Profile', icon: 'account_circle', url: '/profile' },
        { text: 'My events', icon: 'date_range', url: '/profile/events' },
        { text: 'Calendar', icon: 'today', url: '/profile/events/calendar' },
        { text: 'Map', icon: 'room', url: '/' },
        { text: 'Sign out', icon: 'exit_to_app', url: '/' },
      ],
    }
  },
  methods:{
    handleMenuClick(item){
      if(item.icon == 'exit_to_app'){
        localStorage.removeItem('user')
        this.$router.push(item.url)
      } else {
        this.$router.push(item.url)
      }
    }
  },
  async mounted(){
    console.log('router ',this.$router)
    console.log('user is',this.user)
  }
}
</script>
<style scoped>
.sign-out{
  background: #f436361e;
}
</style>