<template>
  <div>
    <div v-show="dialog" class="side-bar animate__animated animate__fadeInRight">
      <v-card height="100vh">
        <v-card-title>
          <span>Events list</span>
          <v-spacer></v-spacer>
          <v-btn
            icon
            @click="dialog = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text
          style="height: 88vh; overflow: scroll"
        >
          <v-row v-if="loading">
            <v-col v-for="i in 3" :key="i" cols="12">
              <v-skeleton-loader
                class="mx-auto"
                max-width="300"
                height="120"
                type="card"
                color="primary"
              ></v-skeleton-loader>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col cols="12" v-for="event in events" :key="event.id">
              <v-card
                class="mx-auto"
                max-width="344"
                outlined
              >
                <v-list-item three-line>
                  <v-list-item-content>
                    <div class="overline d-flex justify-space-between">
                      Attending
                      <span style="font-size:14px">
                      {{event.data.pUsers ? event.data.pUsers.length : 0}}
                      /
                      {{event.data.space ? event.data.space : '&infin;'}}</span>
                      <v-chip
                        color="pink"
                        text-color="white"
                        small
                      >
                        <v-icon size="16" class="pr-1">schedule</v-icon>
                        {{event.data.duration}}min
                      </v-chip>
                    </div>
                    <v-list-item-title class="headline mb-1">
                      {{event.data.title}}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      <span>{{event.data.description}}</span> <br>
                    </v-list-item-subtitle>
                    <span class="mt-2">
                      Start: {{startDate(event)}}
                    </span>
                  </v-list-item-content>

                  <!-- <v-list-item-avatar
                    tile
                    size="80"
                    color="grey"
                  >
                    <v-img
                        :src="`https://avatars.dicebear.com/api/initials/${event.data.title}.svg`"
                    ></v-img>
                  </v-list-item-avatar> -->
                </v-list-item>

                <v-card-actions class="d-flex justify-space-between">
                  <v-btn
                    outlined
                    rounded
                    text
                    dark
                    @click="attend(event)"
                  >
                    Attend
                  </v-btn>
                  <v-chip
                    label
                  >
                  <span class="subtitle">
                    {{event.data.building}} | {{event.data.room}}
                  </span>
                  </v-chip>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
    <v-btn 
      rounded
      large
      absolute
      @click="handleEventsClick"
      right
      bottom
      color="primary"
      style="bottom:120px"
    >Events</v-btn>
    <v-btn 
      rounded
      large
      :to="this.user ? 'profile' : 'login'"
      absolute
      right
      bottom
      color="primary"
      style="bottom:60px"
    >{{this.user ? 'Go to profile' : 'Login'}}</v-btn>
    <Map :style="dialog ? 'filter: blur(5px)' : null" />
  </div>
</template>

<script>
import Map from '@/components/Map'
import {mapActions, mapGetters} from 'vuex'
import firebase from '@/plugins/firebase'
export default {
  layout: 'map',
  components: {
    Map
  },
  computed:{
    ...mapGetters({
      events: 'event/events',
      user: 'user/user'
    })
  },
  data(){
    return {
      dialog: false,
      loading: false,
      months: ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
      ]
    }
  },  
  methods:{
    ...mapActions({
      getEvents: 'event/getEvents'
    }),
    startDate(event){
      let time = new Date(event.data.startTime)
      let day = (time.getDate() < 10) ? ("0" + time.getDate()) : time.getDate();
      let month = time.getMonth()
      let year = time.getFullYear()
      let hours = (time.getHours() < 10) ? ("0" + time.getHours()) : time.getHours();
      let minutes = (time.getMinutes() < 10) ? ("0" + time.getMinutes()) : time.getMinutes();

      return `${day} ${this.months[month]} ${year} at ${hours}:${minutes}`
    },
    async handleEventsClick(){
      this.dialog = true
      this.loading = true
      await this.getEvents()
      this.loading = false
    },
    async attend(event){
        try{
          console.log(event)
          let user = localStorage.getItem('user');
          let userId = user ? JSON.parse(user).uid : null
          if(userId){
            const document = firebase.firestore().collection("users").doc(userId)
            const eventDocument = firebase.firestore().collection("events").doc(event.id)
            let docRef = await document.get();
            if (docRef.exists) {
                console.log('user',docRef.data())
                let events = docRef.data().events ? docRef.data().events : []
                events.push(event)
                if(event.data.user.uid == userId){
                  this.handleError('You are the host')
                }
                else if(event.data.user.uid != userId && !event.data.pUsers){
                  await document.update({
                    events: events
                  })
                  await eventDocument.update({
                    pUsers: [userId]
                  })
                  this.handleSuccess('Now attending')
                }
                else if(event.data.user.uid != userId && event.data.pUsers && !event.data.pUsers.includes(userId)){
                  let newpusers = event.data.pUsers
                  newpusers.push(userId)
                  await document.update({
                    events: events
                  })
                  await eventDocument.update({
                    pUsers: newpusers
                  })
                  this.handleSuccess('Now attending')
                } else {
                  this.handleError('Already attending')
                }
                this.events = await this.getEvents()
            } else {
                // doc.data() will be undefined in this case
                console.log("No such document!");
            }
          } else{
            this.$router.push('/login')
          }
          
        }catch(e){
          console.error("Error reading document: ", e);
        }
      }
  },
  async mounted(){
    this.loading = true
    await this.getEvents()
    this.loading = false
  }
}
</script>

<style scoped>
.side-bar{
  z-index: 2;
  --animate-duration: 0.3s;
  /* padding: 10px 10px 10px 10px; */
  width: 45vh;
  position:absolute; right:0; 
  top:0; 
  background:#fefffd54;
}
</style>
