<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="4">
      <v-form v-on:submit.prevent="login">
      <v-card>
        <v-card-title>Login</v-card-title>
        <v-card-text>
            <v-text-field
              type="email"
              label="Email"
              required
              :hide-details="true"
              solo
              v-model="email"
            ></v-text-field>
            <br>
            <v-text-field
              type="password"
              label="Password"
              required
              :hide-details="true"
              solo
              v-model="password"
            ></v-text-field>
            <br>
        </v-card-text>
        <v-card-actions>
          <v-row class="px-2">
            <v-col cols="12">
              <v-btn
                color="primary"
                block
                rounded
                large
                type="submit"
                max-width="70%"
                :loading="loading"
              >
                Login
              </v-btn>
            </v-col>
            <v-col cols="12">
              <v-btn
                to="register"
                color="primary"
                block
                rounded
                large
              >
                Register
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
      </v-form>
    </v-col>
    <v-col class="text-center" md="12">
      <nuxt-link
        to="/"
      >
        <span>Campus Map</span>
      </nuxt-link>
    </v-col>
  </v-row>
</template>

<script>
import {mapActions,mapMutations} from 'vuex'
export default {
  middleware: 'notauthenticated',
  data(){
    return {
      studentId: '',
      email: '',
      password: '',
      loading: false
    }
  },
  methods:{
    ...mapActions({
      userLogin: 'user/login'
    }),
    ...mapMutations({
      handleSuccess: 'snackbar/successMessage',
      handleError: 'snackbar/errorMessage'
    }),
    async login(){
      try {
        this.loading = true
        let res = await this.userLogin({
          email: this.email,
          password: this.password
        })
        this.handleSuccess(res)
        this.loading = false
      } catch(error){
        console.log(error)
        this.handleError(error.message)
        this.loading = false
      }
      this.$router.push('/profile')
    }
    
  }
}
</script>

<style scoped>
>>>.v-input__slot{
  background: #F5F5F5 !important;
}
</style>