<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="4">
          <v-form v-on:submit.prevent="register">

      <v-card>
        <v-card-title>Register</v-card-title>
        <v-card-text>
            <v-text-field
              label="Name"
              :hide-details="true"
              solo
              v-model="name"
            ></v-text-field>
            <br>
            <v-text-field
              type="email"
              label="Email"
              :hide-details="true"
              solo
              v-model="email"
              required
            ></v-text-field>
            <br>
            <v-text-field
              label="Student Id"
              :hide-details="true"
              solo
              v-model="studentId"
            ></v-text-field>
            <br>
            <v-text-field
              label="Department"
              :hide-details="true"
              solo
              v-model="department"
            ></v-text-field>
            <br>
            <v-text-field
              type="password"
              label="Password"
              :hide-details="true"
              solo
              v-model="password"
            ></v-text-field>
            <br>
            <v-text-field
              type="password"
              label="Confirm password"
              :hide-details="true"
              solo
              v-model="confirmPassword"
            ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
              color="primary"
              block
              rounded
              large
              type="submit"
              :loading="loading"
            >
              Register
            </v-btn>
        </v-card-actions>
      </v-card>
          </v-form>
    </v-col>
    <v-col class="text-center" md="12">
      <nuxt-link
        to="/"
      >
        <span>Campus Map</span>
      </nuxt-link>
    </v-col>
  </v-row>
</template>

<script>
import {mapActions, mapMutations} from 'vuex'
export default {
  data(){
    return {
      name: '',
      email: '',
      studentId: '',
      department: '',
      password: '',
      confirmPassword: '',
      loading: false
    }
  },
  methods:{
    ...mapActions({
      userRegister: 'user/register'
    }),
    ...mapMutations({
      handleSuccess: 'snackbar/successMessage',
      handleError: 'snackbar/errorMessage'
    }),
    async register(){
      try {
        this.loading = true
        let res = await this.userRegister({
          email: this.email,
          password:this.password,
          info:{
            name: this.name,
            studentId: this.studentId,
            department: this.department
          }
        })
        this.loading = false
        this.$router.push('/profile/events')
        this.handleSuccess(res)
      } catch(error){
        console.log(error)
        this.handleError(error.message)
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>
>>>.v-input__slot{
  background: #F5F5F5 !important;
}
</style>