<template>
  <div>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="6" md="12">
        <v-card flat>
          <v-card-title>Edit event</v-card-title>
          <v-card-text>
            <v-text-field
              label="Name"
              :hide-details="true"
              solo
              v-model="title"
            ></v-text-field>
            <br>
            <v-textarea
              label="Description"
              :hide-details="true"
              solo
              v-model="description"
            ></v-textarea>
            <br>
            <v-select
              :items="buildings"
              item-text="data.name"
              return-object
              v-model="selectedBuilding"
              label="Choose Building"
              solo
            ></v-select>
            <v-select
              v-if="selectedBuilding"
              :items="rooms"
              v-model="selectedRoom"
              label="Choose available room"
              solo
            ></v-select>
            <v-select
              v-if="selectedRoom"
              :items="[10,20,30]"
              v-model="allowedParticipants"
              label="Allowed participants"
              persistent-hint
              hint="Optional"
              solo
            ></v-select>
            <v-datetime-picker :textFieldProps="{solo:true}" label="Choose event start date" v-model="startTime"> </v-datetime-picker>
            <div>
              <span class="subtitle">Event duration</span>
              <v-list rounded>
                <v-list-item-group v-model="duration" mandatory>
                  <v-row>
                    <v-col
                      v-for="(item, i) in durationOptions"
                      :key="i"
                      >
                      <v-list-item color="primary" active-class="red lighten-1 white--text">
                        <v-list-item-content class="text-center">
                          <v-list-item-title>{{item}} min</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-col>
                  </v-row>
                </v-list-item-group>
              </v-list>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn
                rounded
                large
                color="primary"
                block
                @click="handleUpdateEvent"
                :loading="loading"
              >
                Update
              </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import firebase from '@/plugins/firebase'
import {mapActions,mapMutations,mapGetters} from 'vuex'
export default {
  layout:'profile',
  data(){
    return {
      selectedRoom: '',
      selectedBuilding: '',
      allowedParticipants: null,
      loading: false,
      title: '',
      description: '',
      startTime: new Date(),
      duration: 30,
      durationOptions: [30,60,90,120]
    }
  },
  computed:{
    ...mapGetters({
      buildings: 'event/buildings',
    }),
    rooms(){
      return this.selectedBuilding.data.rooms
    }
  },
  methods:{
    ...mapActions({
      createEvent: 'event/createEvent',
      getEvents: 'event/getUserEvents',
      getBuildings: 'event/getBuildings'
    }),
    ...mapMutations({
      handleSuccess: 'snackbar/successMessage',
      handleError: 'snackbar/errorMessage'
    }),
    async handleUpdateEvent(){
      try{
        this.loading = true
        let docRef = await firebase.firestore().collection("events").doc(this.$route.params.id)
        let time = this.startTime.getTime()
        await docRef.update({
          title: this.title,
          description: this.description,
          building: this.selectedBuilding.id,
          room: this.selectedRoom,
          space: this.allowedParticipants,
          startTime: time,
          duration: this.durationOptions[this.duration]
        })
        this.handleSuccess('Updated')
        this.loading = false
        this.$router.push('/profile/events')
      }catch(err){
        console.log(err)
        this.handleError(err.message)
        this.loading = false
      }
    },
    async eventInfo(id){
      try{
        let docRef = await firebase.firestore().collection("events").doc(id)
        let event = await docRef.get()
        if (event.exists) {
        console.log("Document data:", event.data());
        this.title = event.data().title
        this.description = event.data().description,
        this.selectedBuilding = this.buildings.find(o => o.id === event.data().building),
        this.selectedRoom = event.data().room,
        this.allowedParticipants = event.data().space
        this.startTime = new Date(event.data().startTime)
        this.duration = this.durationOptions.findIndex(function(time){{
          return time == event.data().duration
        }})
        } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
        }

      } catch(err){
        console.log(err)
      }
    }
  },
  async mounted(){
    console.log(this.$route.params.id)
    await this.getBuildings()
    if(this.$route.params.id){
      await this.eventInfo(this.$route.params.id)
    }
  }
}
</script>

<style scoped>
>>>.v-input__slot{
  background: #F5F5F5 !important;
}
</style>