<template>
  <div v-if="events">
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="6"
      >
        <v-card
          flat
        >
          <v-card-title>Attending events</v-card-title>
          <v-card-text v-if="eventsOn.length != 0">
            <v-list flat>
              <v-list-item-group v-model="selectedEvent">
                <v-list-item
                  v-for="(event, i) in eventsOn"
                  :key="i"
                >
                  <v-list-item-content>
                    <v-list-item-title class="d-flex justify-space-between">
                      <span>{{event.data.title}}</span>
                      <div>
                        <v-chip
                          color="red accent-2"
                          text-color="white"
                          small
                          v-if="userDetails.uid == event.data.user.uid"
                        >
                          Host
                        </v-chip>
                        <v-chip
                          color="pink"
                          text-color="white"
                          small
                        >
                          <v-icon size="16">schedule</v-icon>
                          {{event.data.duration}}min
                        </v-chip>
                      </div>
                    </v-list-item-title>
                    <v-list-item-subtitle class="text-center">
                      <span class="teal--text mt-1">
                        Starts at
                        {{new Date(event.data.startTime).getHours()}} :
                        {{new Date(event.data.startTime).getMinutes()}}
                      </span>
                    </v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card-text>
          <v-card-text v-else>
            <span class="subtitle">You are not attending any events on this day</span>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="6"
      >
        <v-date-picker
          ref="picker"
          v-model="date"
          :picker-date.sync="pickerDate"
          :events="functionEvents"
          full-width
          flat
        ></v-date-picker>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex'
export default {
  layout:"profile",
  data: () => ({
    date: new Date().toISOString().substr(0, 10),
    pickerDate: null,
    selectedEvent: 1,
    loading: false,
    events:null
  }),
  computed:{
    ...mapGetters({
      userEvents: 'event/userEvents',
      userDetails: 'user/userDetails'
    }),
    eventsOn(){
      let filtered = []
      if(this.events){
        console.log(this.events)
        filtered = this.events.filter((value,index,self) =>{
          let time = new Date(value.data.startTime)
          let day = (time.getDate() < 10) ? ("0" + time.getDate()) : time.getDate();
          let month = '' + (time.getMonth() + 1)
          let year = time.getFullYear()
          console.log('event date',[year, month, day].join('-'))
          console.log('date',this.date)
          if([year, month, day].join('-') == this.date)
            return value
        })
      }
      console.log('filtered',filtered)
      return filtered
    }
  },
  watch: {
    pickerDate (val) {
      // this.notes = [
      //   this.allNotes[Math.floor(Math.random() * 5)],
      //   this.allNotes[Math.floor(Math.random() * 5)],
      //   this.allNotes[Math.floor(Math.random() * 5)],
      // ].filter((value, index, self) => self.indexOf(value) === index)
      console.log('calendar',val)
    },
    date(val){
      console.log('val',val)
    }
  },
  methods:{
    ...mapActions({
      getEvents: 'event/getUserEvents',
      getUserInfo:'user/getUserInfo'
    }),
    functionEvents (date) {
      const [,, day] = date.split('-')
      let eventsFlag = this.events.filter((value,index,self) =>{
        let time = new Date(value.data.startTime)
        let day = (time.getDate() < 10) ? ("0" + time.getDate()) : time.getDate();
        let month = '' + (time.getMonth() + 1)
        let year = time.getFullYear()
        if([year, month, day].join('-') == date)
          return value
      })
      if(eventsFlag.length == 1) return ['#FFE57F']
      if(eventsFlag.length > 1) return ['#C5E1A5', '#C5E1A5']
      return false
    },
  },
  async mounted(){
    this.loading = true
    await this.getEvents()
    await this.getUserInfo(JSON.parse(localStorage.getItem('user')).uid)
    this.events = this.userEvents.concat(this.userDetails.events ? this.userDetails.events : [])
    this.loading = false
  }
}
</script>

<style>
.v-date-picker-table__events{
  z-index: 2;
  bottom: 15px !important;
}
</style>