<template>
  <div>
    <v-row v-if="loading">
      <v-col md="4" sm="6" cols="12" v-for="i in 4" :key="i">
        <v-skeleton-loader
          class="mx-auto"
          max-width="300"
          type="card"
        ></v-skeleton-loader>
      </v-col>
    </v-row>
    <v-row v-else>
      <v-col
        cols="12"
        sm="6"
        md="4"
        v-for="event in events"
        :key="event.id"
      >
        <v-hover
          v-slot:default="{ hover }"
          open-delay="50"
        >
          <v-card
            @click="handleClick(event)"
            :elevation="hover ? 1 : 0"
            :class="{ 'on-hover': hover }"
            class="mx-auto text--grey"
            height="200"
            max-width="350"
          >
            <v-card-title>{{event.data.title}}
              <v-spacer></v-spacer>
              <span style="font-size:14px">
                {{event.data.pUsers ? event.data.pUsers.length : 0}}
                /
                {{event.data.space ? event.data.space : '&infin;'}}</span>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text
              class="font-weight-medium subtitle-1">
              {{event.data.description}}
            </v-card-text>
            <v-card-actions>
              <v-list-item class="grow">
                <v-list-item-avatar color="grey darken-3">
                  <v-img
                    class="elevation-6"
                    alt=""
                    :src="`https://avatars.dicebear.com/api/initials/${event.data.building}.svg`"
                  ></v-img>
                </v-list-item-avatar>

                <v-list-item-content>
                  <v-list-item-title>{{event.data.building}}</v-list-item-title>
                </v-list-item-content>

                <!-- <v-row
                  align="center"
                  justify="end"
                >
                  <v-icon class="mr-1">
                    mdi-heart
                  </v-icon>
                  <span class="subheading mr-2">256</span>
                  <span class="mr-1">·</span>
                  <v-icon class="mr-1">
                    mdi-share-variant
                  </v-icon>
                  <span class="subheading">45</span>
                </v-row> -->
              </v-list-item>
            </v-card-actions>
            <v-fade-transition>
          <v-overlay
              v-if="hover"
              absolute
              color="#036358"
            >
              <v-btn rounded large color="primary">Edit</v-btn>
            </v-overlay>
          </v-fade-transition>
          </v-card>
        </v-hover>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        md="4"
      >
        <v-btn
            style="border: 1px solid #E5E5E5;border-radius:10px;color:#868686"
            class="my-0"
            text
            width="100%"
            height="200"
            nuxt
            :to="`/profile/events/create-event`"
          >
            <div class="d-flex flex-column">
              <v-icon size="30" title="Add event">add_circle_outline</v-icon>
              <span class="mt-1">Add event</span>
            </div>
          </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import {mapGetters,mapActions} from 'vuex'
export default {
  meta:{
    title: "My events"
  },
  head(){
    return {
      title: "Events",
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'My custom description'
        }
      ]
    };
  },
  layout:'profile',
  components:{
  },
  watch:{
    events(){
      this.newEvent = false
    }
  },
  computed:{
    ...mapGetters({
      events: 'event/userEvents',
    })
  },
  data(){
    return {
      newEvent: false,
      loading: false,
    }
  },
  methods:{
    ...mapActions({
      getEvents: 'event/getUserEvents'
    }),
    handleClick(event){
      this.$router.push(`/profile/events/${event.id}`)
    }
  },
  async mounted(){
    this.loading = true
    await this.getEvents()
    this.loading = false
  }
}
</script>

<style>

</style>